extends layout

block textTop 
    .jumbotron
        .row
            .col-md-6 
                h2 Please enter your search terms and price to search Ebay and Walmart APIs:
            .col-md-4
                div.form-group
                    label(for='searchLabel') Search Terms:
                    input#name.form-control(type='text', placeholder='Please enter search term(s)')
                    label(for='priceLabel') Price:
                    input#price.form-control(type='text', placeholder='Please enter preferred price')
                    label(for='textLabel') You entered:
                    textArea#output.form-control(type='text', placeholder='Your Results...')
                #search.btn.btn-primary Search
        .row
            .col-md-12
                h2 Unformatted Results (resize as needed):
                textArea#outputDisplay.form-control(type='text', placeholder='Formatted results displayed here...')

block scripts
    script.
        $('#search').on('click', function(){

            var nameVal = $('#name').val();
            var priceVal = $('#price').val();

            var returnSearchedName = {
                name: nameVal,
                price: priceVal
            };
            output.innerHTML = returnSearchedName.name + " " + returnSearchedName.price;

            $.post('/api/products/search', returnSearchedName, function(resp){

                var insertHtml;     
                for (i = 0; i < resp[0].length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML = "";
                    }
                    insertHtml = "===========EBAY ITEM #" + (i + 1) + "===========\n";
                    insertHtml += "ID: " + resp[0][i].id + "\n";
                    insertHtml += "NAME: " + resp[0][i].name + "\n";
                    insertHtml += "PRICE" + resp[0][i].price + "\n";
                    insertHtml += "CATEGORY" + resp[0][i].category + "\n";
                    insertHtml += "URL" + resp[0][i].url + "\n";
                    insertHtml += "IMAGEURL" + resp[0][i].imageUrl;
                    insertHtml += "PROVIDED BY: " + resp[0][i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
                for (i = 0; i < resp[1].length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML += "/n";
                    }
                    var insertHtml = "===========WALMART ITEM #" + (i + 1) + "===========\n";
                    insertHtml += "ID: " + resp[1][i].id + "\n";
                    insertHtml += "NAME: " + resp[1][i].name + "\n";
                    insertHtml += "PRICE" + resp[1][i].price + "\n";
                    insertHtml += "CATEGORY" + resp[1][i].category + "\n";
                    insertHtml += "URL" + resp[1][i].url + "\n";
                    insertHtml += "IMAGEURL" + resp[1][i].imageUrl;
                    insertHtml += "PROVIDED BY: " + resp[1][i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
            });
        }) 

